@import "tailwindcss";


/*  FONTS  */
@font-face {
    font-family: NevantaBold;
    src: url('/fonts/nevanta/Nevanta-Bold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: NevantaBlack;
    src: url('/fonts/nevanta/Nevanta-Black.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: NevantaExtraBold;
    src: url('/fonts/nevanta/Nevanta-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: NevantaLight;
    src: url('/fonts/nevanta/Nevanta-Light.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: NevantaMedium;
    src: url('/fonts/nevanta/Nevanta-Medium.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

/*  USED FONTS */
@theme {
    --font-nevanta-bold: NevantaBold, "sans-serif";  
}
@theme {
    --font-nevanta-ExtraBold: NevantaExtraBold, "sans-serif";
}
@theme {
    --font-nevanta-Black: NevantaBlack, "sans-serif";
}
@theme {
    --font-nevanta-Light: NevantaLight, "sans-serif";
}
@theme {
    --font-nevanta-Medium: NevantaMedium, "sans-serif";
}

/* COLOR PALLET */
@theme {
    --color-text: #DCDCDC;
}

/* REUSABLE CLASSES */
@layer utilities {
    
    .container {
        @apply px-16 py-6
    }

    .centerlized-items {
        @apply flex justify-center items-center    
    }

    .hero-image {
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    }

    .btn-hover {
        @apply duration-400 hover:scale-90 
    }

}